language: python
before_install:
- pip install pycodestyle
- pip install pytest
- pip install pytest-cov
- pip install coveralls
- pip install sphinx
- pip install sphinx_rtd_theme
- pip install tpDcc-libs-unittests
install:
- pip install -r requirements.txt
- python setup.py install
script:
- find . -name \*.py -exec pycodestyle --exclude */externals/* --max-line-length=120
  --ignore=E402 {} +
- pytest --cov=tpDcc
- sphinx-apidoc -f -e -o docs/sphinx tpDcc
- sphinx-build -M html ./docs/sphinx ./
after_success:
- coveralls
- cd html && touch .nojekyll && cd ../
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: "$GITHUB_TOKEN"
    keep_history: true
    local_dir: html
    on:
      branch: master
  - provider: pypi
    skip_cleanup: true
    user: tpoveda
    password:
      secure: xiUVz4Y1oR5J0Fz2ZmDkcOj7v2o8c71Wb1kGIu3lGtyagYTwnhOvAHVtbg8QKuCa/e8XF+77C5S9vjCkeur06Mt+lQz490oxM3Fy8epKRPb/pv+Z204U+ps2OP5znMo/80zk/QhIBq20gn48qeB7iOv5t8v1mIB6TJDmiMI0VGhfwNGX3PL/D/IbdbtireZ31ieOfjmeWjdhvYkiH0llve3iluKQBlb4uUYKM8xOd63JYytU3ktS7Fw/Kshwh4+whCmGphEI5CZ8yFZe54m7gUNIy7TbSf9URM3xalQLwO78/CDgE4XIffxTO422yEJLcPyP3hJJvFOMf2rhQbU7tD1Jek/90uMhbTjCd1X30VU5C8Sl2q7yy0XZHMpoghH2PX+V2DYzLcXVWRVCO4dPa+CXq2ImATogAyUqT7AjofMQVYB6gvWAKMhZpyirvJbkkozJLH6ED40QrkaAfwIN74S9FtKijvsOCCYK1+QvEcTm2hNBUs2yDamLejqs+qOxTuHIDi4KSeyq5S7t6czf97WOhspX/cMksjI15rUSkSeAvPDp5nMtgMatPQ1cC6x183O65mSSolj2XINVaqxV9nSRgDKfOKKLOQtckOJJpm7G9Ms2XFhDNKKNxyuLg6mJkHozy4vAq/zSe0/+h8zmjGUuDywEZQXwmYxlpOYzb2Y=
    on:
      branch: master
      tags: true