# ===================================================================
# tpDcc-libs-datalibrary requirements file
# ===================================================================
shortuuid
tpDcc-libs-python
tpDcc-core