# ===================================================================
# tpDcc-libs-datalibrary requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core